
@{
    ViewBag.Title = "About Us";
}
<html>
<head>
    <style>
        p{
            font-size:20px;
        }
        .col-md-3{
            margin-right:30px;
        }
        h2{
            text-align:center;
        }
      
    </style>
</head>
<body>

    <h1 style="text-align:center;margin-bottom:30px;color:#6495ED">About Us (Team Cookie)</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Resources/luyi.png" width="300" height="250" />
        </div>
        <div class="col-md-8">
            <h2>Luyi Sun </h2>
            <p>
                Project management Master’s degree of BIS in Monash university. Database, R, Python, Java foundation. Good at business analysis, UI&BI design, project management. Several Java programs and system design experiences.Participated in the whole process of system design and implementation, keen sight in product and client service. Rich team project experiences with good communication and collaboration skills.
            </p>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <img src="~/Resources/sai.png" width="300" height="350" />
        </div>
        <div class="col-md-8">
            <h2>Sai Teja </h2>
            <p>
                Master’s Degree of Data Science in Monash University. Skilled in Python, R programming, Machine learning and artificial intelligence. Soft skills are critical thinking, problem solving, teamwork, decision making, interpersonal communication.
            </p>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <img src="~/Resources/zoya.png" width="300" height="300" />
        </div>
        <div class="col-md-8">
            <h2>Zoya Mashadi </h2>
            <p>
                Business Analyst + UI/UX Expert I am a well presented, enthusiastic, and self-motivated individual who thinks learning is a lifetime experience and now, while undergoing my Masters in Business Information Systems degree at Monash I want to use my knowledge and skills in corporate world and learn more about the practical examples of the bookish theories simultaneously, here in Australia too. I am a hardworking individual who is not only a good team player but also has strong leadership skills as applied in many group projects in my current degree, bachelor's degree and during my work experience as well. Meeting deadlines with excellence is the core value.
            </p>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <img src="~/Resources/haoxing.png" width="300" height="350" />
        </div>
        <div class="col-md-8">
            <h2>Haoxing Li </h2>
            <p>
                Doing Master of Information Technology in Monash University. With the ability to review plans, write reports, research solutions and implement company procedures. Willingness to learn, ability to follow instructions and work cooperatively within team environments.  Familiar with HTML, CSS, JavaScript, ASP.NET and Java.
            </p>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <img src="~/Resources/ningyue.png" width="300" height="350" />
        </div>
        <div class="col-md-8">
            <h2>Ningyue Fu</h2>
            <p>
                Master’s degree of IT in Monash university. Good at Java coding, Oracle database and ASP. NET.Having many IT projects before. Learning front-end knowledge now. Willing to work in a team, and  positively communicate with teammates. Try to maximize the benefit of the team.
            </p>
        </div>
    </div>
</body>
</html>



