@{
    ViewBag.Title = "You are not only one!";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Resources/Visual1.JPG" height="600" width="900"/>
<img src="~/Resources/Visual 2.JPG" height="600" width="800"/>
<img src="~/Resources/barChart.png" height="600" width="800"/>