@{
    ViewBag.Title = "Whether you have mental issues";
}
<h2>@ViewBag.Title.</h2>
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

<p>Use this area to provide mental health information.</p>
