@{
    ViewBag.Title = "You are not only one!";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron" style="background-image: url(https://monashie.leankit.com/API/Card/ViewImageAttachment/1210722027/1242471780);
        background-size: auto
">
