
@{
    ViewBag.Title = "About Us";
}
<html>
<head>
    <style>
        p{
            font-size:20px;
            /*color: white;*/
        }
        .col-md-3{
            margin-right:30px;
        }
        h2 {
            font-weight: bold;
            
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #6495ED;
            font-weight: bold;
        }

        .section1 {
            background-color: #CACEE8;
            height: 250px;
            padding-top: 40px;
            margin: 50px 0;
            position: relative;
        }

        .section1 > p{
            width: 300px;
            text-align: right;
            margin-left: auto;
        }

        .section2 {
            position: relative;
            background-color: #CACEE8;
            height: 250px;
            text-align: right;
            padding-top: 40px;
            margin: 50px 0;
        }

        .section2 > p{
            text-align: left;
            width: 300px;
        }

        #mission{
            width: 650px;
            text-align: center;
            /*border: 1px solid red;*/
            margin:0 auto;
        }

        img{
            max-width: 100%;
        }

        #profile_phote_sly{
            position: absolute;
            top: 0;
            left: 0;
        }

        #profile_phote_lhx {
            position: absolute;
            top: 0;
            left: 0;
        }

        #profile_phote_sai {
            position: absolute;
            top: 0;
            left: 0;
        }

        #profile_phote_zoya {
            position: absolute;
            top: 0;
            right: 0;
        }

        #profile_phote_fny {
            position: absolute;
            top: 0;
            right: 0;
        }

        

      
    </style>
</head>
<body>
    <div>
        <h1>Our mission</h1>
        <p id="mission">
            Our mission is to help Elder people from CALD background about stigma attached with mental health issues by raising awareness about its importance and educate them on how to access mental health services by overcoming English as their barrier.
        </p>
    </div>
    <br />
    <br />
    <br />
    <h1>Meet Us (Team Cookie)</h1>

    <div class="row">
        @*<div class="col-md-4">
                <img src="~/Resources/SLY.png" width="300" height="250" />
            </div>*@
        <div class="col-md-5 section1">
            <img id="profile_phote_sly" class="img-responsive" src="~/Resources/SLY.png"  width="185 " height="200" />
            <p>
                Business Analyst
            </p>
            <p>
                Database, R, Python, Java foundation. Good at business analysis, UI&BI design, project management.
                <h2>Luyi Sun </h2>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 section2">

            <img id="profile_phote_zoya" src="~/Resources/Zoyaa.png" width="185" height="195" />
            <p>
                Business Analyst
            </p>
            <p>
                I am a well presented, enthusiastic, and self-motivated individual who thinks learning is a lifetime experience.
            </p>
            <h2>Zoya Mashadi </h2>
        </div>
    </div>
    <br />
    <br />



    <br />
    <br />

    @*<div class="col-md-4">
            <img src="~/Resources/LHX.png" width="300" height="350" />
        </div>*@
    <div class="row">
        <div class="col-md-5 section1">
            <img id="profile_phote_lhx" src="~/Resources/LHX.png" width="185" height="200" />
            <p>
                Developer
            </p>
            <p>
                Willingness to learn, ability to follow instructions and work cooperatively within team environments.
            </p>
            <h2>Haoxing Li </h2>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 section2">

            <img id="profile_phote_fny" src="~/Resources/FNY.png" width="185" height="200" />
            <p>
                Developer
            </p>
            <p>
                Willing to work in a team, and  positively communicate with teammates.
            </p>
            <br />
            <h2>Ningyue Fu</h2>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        @*<div class="col-md-4">
                <img src="~/Resources/FNY.png" width="300" height="350" />
            </div>*@
        <div class="col-md-4"></div>
        <div class="col-md-5 section1">
            <img id="profile_phote_sai" src="~/Resources/SAII.png" width="185" height="200" />
            <p>
                Data Scientist
            </p>
            <p>
                Skilled in Python, R programming, Machine learning and artificial intelligence.
            </p>
            <br />
            <h2>Sai Teja </h2>
        </div>
    </div>
</body>
</html>



