<html>
<head>
    <title>Know You Better</title>
</head>
<body>
    <br />
    <button id="overwhelmed">overwhelmed</button>
    <button id="guilty">guilty</button>
    <button id="irritable">irritable</button>
    <button id="frustrated">frustrated</button>
    <button id="lacking in confidence">lacking in confidence</button>
    <button id="unhappy">unhappy</button>
    <button id="indecisive">indecisive</button>
    <button id="disappointed">disappointed</button>
    <button id="miserable">miserable</button>
    <button id="sad">sad</button>
    <br />
    <button id="excessive fear">excessive fear</button>
    <button id="worry">worry</button>
    <button id="catastrophizing">catastrophizing</button>
    <button id="obsessive thinking">obsessive thinking</button>
    <br />
    <button id="Unexplained weight fluctuations(especially weight loss)">Unexplained weight fluctuations(especially weight loss)</button>
    <button id="Anemia and muscle weakness">Anemia and muscle weakness</button>
    <button id="Increase in falls">Increase in falls</button>
    <button id="Memory deficits">Memory deficits</button>
    <button id="Cognitive decline">Cognitive decline</button>
    <button id="Loss of appetite">Loss of appetite</button>
    <button id="Slow healing">Slow healing</button>
    <button id="Chronic dizziness">Chronic dizziness</button>
    <button id="Unopened or uneaten food in the fridge or cupboards">Unopened or uneaten food in the fridge or cupboards</button>
    <button id="Decrease in food intake or rejection of meals">Decrease in food intake or rejection of meals</button>
    <button id="Use of laxatives">Use of laxatives</button>
    <br />
    <button id="Confusion">Confusion</button>
    <button id="Agitation">Agitation</button>
    <button id="Irritability">Irritability</button>
    <button id="Hyperactivity">Hyperactivity</button>
    <button id="Psychosis">Psychosis</button>
    <button id="Cognitive issues">Cognitive issues</button>
</body>
</html>