@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2295133904,1477471346&fm=26&gp=0.jpg);
        background-size: auto
">
    <h1>ME14</h1>
    <p class="lead">
        Older people from Culturally and linguistically diverse (CALD)backgrounds with chronic diseases have a higher risk of mental healthissues. We are aim to keep and improve their mental health.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="color:forestgreen">What is mental issue?</h2>
        <p>
            Mental illness, also called mental health disorders, refers to a wide range of mental health conditions — disorders that affect your mood, thinking and behavior. Examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviors.
            Many people have mental health concerns from time to time. But a mental health concern becomes a mental illness when ongoing signs and symptoms cause frequent stress and affect your ability to function.
            A mental illness can make you miserable and can cause problems in your daily life, such as at school or work or in relationships. In most cases, symptoms can be managed with a combination of medications and talk therapy (psychotherapy).
        </p>
    </div>
    <div class="col-md-6">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/G0zJGDokyWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>



    

    <div class="row">
        <div class="col-md-4">
            <h2 style="color:forestgreen">About mental health</h2>
            <p>
                Understand the importance of the mental health

            </p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color:forestgreen">We know you better</h2>
            <p>Analyse if you have mental issues and provide suggestions for treatment</p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color:forestgreen">You are not alone</h2>
            <p>You can find there are many people facing these issues, it is not a big deal</p>
            <p><a class="btn btn-primary" href="https://localhost:44384/Home/About">Learn more &raquo;</a></p>
        </div>
    </div>
