@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:cornsilk">
    <div class="jumbotron" style="background-image: url(https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2295133904,1477471346&fm=26&gp=0.jpg);
        background-size: auto
">
        <h1>Happy Thought</h1>
        <p class="lead">
            Older people from Culturally and linguistically diverse (CALD)backgrounds with chronic diseases have a higher risk of mental healthissues. We are aim to keep and improve their mental health.
        </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row" style="background-color:antiquewhite; margin-bottom:30px">
        <div class="col-md-6">
            <h2 style="color:darkred">What is mental issue?</h2>
            <p>
                Mental illness, also called mental health disorders, refers to a wide range of mental health conditions — disorders that affect your mood, thinking and behavior. Examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviors.
                Many people have mental health concerns from time to time. But a mental health concern becomes a mental illness when ongoing signs and symptoms cause frequent stress and affect your ability to function.
                A mental illness can make you miserable and can cause problems in your daily life, such as at school or work or in relationships. In most cases, symptoms can be managed with a combination of medications and talk therapy (psychotherapy).
            </p>
        </div>
        <div class="col-md-5" style="margin:30px 10px 30px 10px">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/G0zJGDokyWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>

  
    <h3 style="text-align:center;color:darkred">What We Offer</h3>
    <div class="row" style="background-color:burlywood">
        <div class="col-md-4" style="background-color:darkred; margin:30px 10px 30px 25px; padding-top:20px;">
            <img src="https://www.thekimfoundation.org/blog/wp-content/uploads/2019/07/053018-Mental-Health.jpg" height="200" width="200" />
            <h2 style="color:white">About mental health</h2>
            <p style="color:white">Understand the importance of the mental health</p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color:darkred; margin:30px 10px 30px 10px; padding-top:20px;">
            <img src="https://betteryouknow.org/sites/default/files/2016-05/better_you_know_logo.jpg" height="200" width="200" />
            <h2 style="color:white">We know you better</h2>
            <p style="color:white">Analyse if you have mental issues and provide suggestions for treatment</p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3" style="background-color:darkred; margin:30px 10px 30px 10px; padding-top:20px;">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/28/56/you-are-not-alone-successful-quote-with-modern-vector-24732856.jpg" height="200" width="200" />
            <h2 style="color:white">You are not alone</h2>
            <p style="color:white">You can find there are many people facing these issues, it is not a big deal</p>
            <p><a class="btn btn-primary" href="https://localhost:44384/Home/About">Learn more &raquo;</a></p>
        </div>
    </div>

</body>
