@{
    ViewBag.Title = "About Mental Health";
}
<html>

<head>
    <style>


        .col-md-5 {
            background-color: grey;
            height: 300px;
            background-color: white;
            margin-left: 40px;
            margin-top: 40px;
            text-align: center;
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: indianred;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }

        .col-md-5:hover .overlay {
            bottom: 0;
            height: 100%;
        }

        .text {
            color: white;
            font-size: 20px;
            padding: 20px;
        }
    </style>

</head>
<body>
    <h1 style="color: darkred;
        text-align: center;">
        <!--about mental health-->
    </h1>
    <br />
    <p style="font-size:20px">
        a person’s mental health affects how they feel, think, behave and relate to others. mental illness covers a spectrum of disorders that affect your mood, thinking and behaviours. examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviours.
        many people have mental health concerns from time to time. but a mental health concern becomes a mental illness when ongoing signs and symptoms cause frequent stress and affect your ability to function.
        a mental illness can make you miserable and can cause problems in your daily life. in most cases, symptoms can be managed with a combination of medications and talk therapy (psychotherapy).
    </p>
    <div class="col-md-5" style="background-image: url(https://pub-static.fotor.com/static/web/site/features/backgrounds/images/various-background-styles.jpg) ">
        <h2 style="text-align:center;line-height:250px">causes</h2>
        <div class="overlay">
            <div class="text">

                mental illnesses, in general, are thought to be caused by a variety of genetic and environmental factors:
                <br />• inherited traits
                <br />• environmental exposures before birth
                <br />• brain chemistry

            </div>
        </div>
    </div>
    <div class="col-md-5" style="        background-image: url(https://www.coreldraw.com/static/cdgs/images/pages/seo/tips/photo/basics/blur-background/blur-background-og.jpg)">
        <h2 style="text-align:center;line-height:250px">risks</h2>
        <div class="overlay">
            <div class="text">
                certain factors may increase your risk of developing a mental illness, including:
                <br />• a history of mental illness in a blood relative
                <br />• stressful life situations
                <br />• an ongoing (chronic) medical condition
                <br />• use of alcohol or recreational drugs
                <br />• a childhood history of abuse or neglect
                <br />• few friends or few healthy relationships
                <br />• a previous mental illness
            </div>
        </div>
    </div>
    <div class="col-md-5" style="        background-image: url(https://scstylecaster.files.wordpress.com/2020/05/beach-sean-o-unsplash.jpg?w=670&h=445)">
        <h2 style="text-align:center;line-height:250px">preventation</h2>
        <div class="overlay">
            <div class="text">
                there's no sure way to prevent mental illness:
                <br />• pay attention to warning signs
                <br />• get routine medical care
                <br />• get help when you need it
                <br />• take good care of yourself
            </div>
        </div>
    </div>
    <div class="col-md-5" style="        background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-smoke-bb-5_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=f4f4f3&ixlib=js-2.2.1&s=c8347a73d6427dda5d03bd1100c39354)">
        <h2 style="text-align:center;line-height:250px">see doctor</h2>
        <div class="overlay">
            <div class="text">
                if you have any signs or symptoms of a mental illness, see your primary care provider or a mental health professional.
                <br />lifeline ☎️ 22 131114
                <br />contact lifeline for support if you are experiencing a personal crisis or have suicidal thoughts. you can call them 24 hours a day, 7 days a week from anywhere in australia.

            </div>
        </div>
    </div>



    <!--about mental health page

    <p>
        a person’s mental health affects how they feel, think, behave and relate to others. mental illness covers a spectrum of disorders that affect your mood, thinking and behaviours. examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviours.
        many people have mental health concerns from time to time. but a mental health concern becomes a mental illness when ongoing signs and symptoms cause frequent stress and affect your ability to function.
        a mental illness can make you miserable and can cause problems in your daily life. in most cases, symptoms can be managed with a combination of medications and talk therapy (psychotherapy).
    </p>
-->



    <div class="col-md-12" style="height:30px">

    </div>

    <!--link to you are not alone page-->
    <p style="text-align:center; margin-top:50px"><a class="btn btn-primary" href="./about">many people have same issues as you &raquo;</a></p>
    <br />
    <!--link to know you better page-->
    <p style="text-align:center"><a class="btn btn-primary" href="./contact">do you want to know yourself better? &raquo;</a></p>
</body>
</html>
