@{
    ViewBag.Title = "You Are Not Alone";
}
<html>

<!--You are not alone-->
<head>
    <title>You Are Not Alone</title>
    <style>
        h1, h2 {
            font-weight: bold;
        }
        .btn {
            font-size: large;
            background-color: #6495ED;
        }
        .navPlace {
            position: fixed;
            top: 130px;
            left: 20px;
            z-index: 100;
        }
            .navPlace > a {
                width: 180px;
                height: 40px;
                text-align: center;
                background-color: #6495ED;
                line-height: 35 px;
                font-size: 18px;
                display: block;
                opacity: 0.8;
                padding: 5px;
                margin: 5px;
                color: white;
                font-weight: bold;
            }
    </style>

</head>
<body>
    <!--Add a semitransparent image-->
    <div class="row">
        <div class="col-md-5"><p style="color:dodgerblue;font-size:50px;text-align:center">You are Not</p><p style="color:blue;font-size:80px;text-align:center"><strong>ALONE</strong></p></div>
        <div class="col-md-6"><p style="color:darkblue;font-size:30px;margin-top:30px"> Mental health has been seen as a stigma which no one wants to talk about yet is affecting millions of lives.</p></div>
    </div>
    <br />
    <div class="row">
        <p style="font-size:40px;text-align:center">We are glad that you chose to learn more about the facts of mental health.</p>
    </div>

    <div class="row">
        <div class="col-md-5"><img src="https://i.postimg.cc/4xDbcjzG/708769a5dfa31fa69b99d5455c4ac6a33ae0c9a1-original.png" /></div>
        <div class="col-md-6"><p style="color:darkblue;font-size:30px;margin-top:110px">1 in every 5 Australians experience mental illness in a given year</p></div>
    </div>
    <div class="row">
        <div class="col-md-5"><p style="color:blue;font-size:100px;text-align:center"><strong>45%</strong></p></div>
        <div class="col-md-6"><p style="color:darkblue;font-size:30px;margin-top:30px">of Australian adults will be affected by mental illness at some point in their life</p></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="https://i.postimg.cc/8cVHmH40/B3.png" height="300" width="300" />
        </div>
        <div class="col-md-6">
            <p style="color:darkblue;font-size:30px;margin-top:30px">
                <strong>Anxiety</strong>,mood disorders(such as <strong>depression</strong> and substance use disorders are the most common mental illnessed experienced by Australian adults)</strong>
            </p>
        </div>
    </div>
    <br />
    <div class="row"><p style="font-size:40px;text-align:center">Please click the below button for Mental Health related data insights</p></div>
    <br />s
    <div style="text-align:center">

        <button id="btn1" class="btn btn-info" onclick="javascrtpt:window.location.href='./info'">Data Insights</button>
    </div>

    


    @*Title*@
    <div style="width: 1000px;">
        <h1 style="text-align:center;color:#6495ED">You are not alone</h1>
        <p style='margin: 10px 50px 60px 70px;font-size:20px; color:black'>
            Mental health has been seen as a stigma which no one wants to talk about yet is affecting millions of lives. We are glad that you chose to learn more about the facts of mental health. You may like to scroll below to learn more about others going through the same symptoms as you.
        </p>
    </div>

    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=6>
    @*Interactive diagram of Australian map*@
    <div id="AustraliaMap" style="30px"></div>
    <div style="width: 1000px; height:650px">
        <h2 style="margin: 30px 10px 10px 70px;color:#6495ED">Australian Map:</h2>
        <div class='tableauPlaceholder' id='viz1598708365425' style='width:500px;height:500px;margin:30px 50px 30px 70px;text-align: center'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CN&#47;CNZC5NTM5&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;CNZC5NTM5' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CN&#47;CNZC5NTM5&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1598708365425'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

    <p style='margin: 10px 50px 10px 70px;font-size:20px;color:black'>
        Above statistics show that quite a few people are dealing with mental health issues in Australia, who have realized its importance and accessed available mental health services
    </p>
    </div>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=6>
    @*Interactive diagram of trends*@
    <div id="Trends" style="30px"></div>
    <div style="width: 1000px; height:900px;">
        <h2 style="margin: 30px 10px 10px 70px;color:#6495ED">Trends:</h2>
        <div class='tableauPlaceholder' id='viz1598760136354' style='position: relative;margin:30px 50px 30px 70px;text-align: center'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Prevalence_15987592151610&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Prevalence_15987592151610&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Prevalence_15987592151610&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1598760136354'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

        <p style='margin: 10px 50px 30px 70px;font-size:20px;color:black'>
            It can be inferred from the above trend lines that, over years, Depression and Anxiety are comparatively more prevalent mental health issues in Australia and needs more attention.
        </p>
    </div>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=6>
    @*Interactive diagram of Cognitive Assessment test*@
    <div id="CognitiveAssessmentTest" style="30px"></div>
    <div style="width: 1000px; height:900px;">
        <h2 style="margin: 30px 10px 10px 70px;color:#6495ED">Cognitive Assessment Test:</h2>
        <div class='tableauPlaceholder' id='viz1598773576348' style='position: relative;margin:30px 50px 30px 70px'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CognitiveAssessment&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CognitiveAssessment&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CognitiveAssessment&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1598773576348'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

        <p style='margin: 10px 50px 30px 70px;color:black;font-size:20px'>
            There are around 3000 people from CALD backgrounds who have not taken the test and the reason could be due to English as a language barrier.
        </p>
    </div>



</body>
</html>

