@{
    ViewBag.Title = "You Are Not Alone";
}
<html>

<!--You are not alone-->
<head>
    <title>You Are Not Alone</title>
    <style>
        h1, h2 {
            font-weight: bold;
        }
        .btn {
            font-size: large;
            background-color: #6495ED;
        }
        .navPlace {
            position: fixed;
            top: 130px;
            left: 20px;
            z-index: 100;
        }
            .navPlace > a {
                width: 180px;
                height: 40px;
                text-align: center;
                background-color: #6495ED;
                line-height: 35px;
                font-size: 18px;
                display: block;
                opacity: 0.8;
                padding: 5px;
                margin: 5px;
                color: white;
                font-weight: bold;
            }

        #know_more {
            color: #6495ED;
            font-weight: bold;
            font-size: 20px;
        }

        #understand {
            width: 250px;
            text-align: center;
            margin: 0 auto 15px;
        }

        #understand_know_more {
            color: #6495ED;
            font-weight: bold;
            font-size: 20px;
        }
    </style>

</head>
<body>
    <!--Add a semitransparent image-->

    <br />
    <h1 style="color: #6495ED;
        text-align: center;font-weight: bold">
        Relate

    </h1>
    <p style="font-size: 20px;width: 800px; display: block; margin: 0 auto;text-align:center">Read through the facts and figures as well as data insights to see how common are mental health issues in Australia and relate yourself with Aussies</p>

    <div class="row">
        <div class="col-md-5"><img src="~/Resources/notalone.png" style="float: right" /></div>
        <div class="col-md-6"><p style="font-size:20px;margin-top:60px">Mental health has been seen as a stigma which no one wants to talk about yet is affecting millions of lives. We are glad that you chose to learn more about the facts of mental health.</p></div>
    </div>


    @*<div class="row">
            <div class="col-md-5"><p style="color:dodgerblue;font-size:45px;text-align:right">You are Not</p><p style="color:blue;font-size:75px;text-align:right"><strong>ALONE</strong></p></div>
            <div class="col-md-6"><p style="font-size:20px;margin-top:50px"> Mental health has been seen as a stigma which no one wants to talk about yet is affecting millions of lives.</p></div>
        </div>*@

    <div class="row">
        <div class="col-md-5"><img src="~/Resources/1-5.png" style="float: right" /></div>
        <div class="col-md-6"><p style="font-size:20px;margin-top:60px">1 in every 5 Australians experience mental illness in a given year</p></div>
    </div>
    <div class="row">
        <div class="col-md-5"><p style="color:#6495ED;font-size:100px;text-align:center"><strong id="count" style="float: right"></strong></p></div>
        <div class="col-md-6"><p style="font-size:20px;margin-top:40px">of Australian adults will be affected by mental illness at some point in their life</p></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="~/Resources/tou.png" height="250" width="250" style="float: right" />
        </div>
        <div class="col-md-6">
            <p style="font-size:20px;margin-top:80px">
                <strong>Anxiety</strong>,mood disorders(such as <strong>depression</strong> and substance use disorders are the most common mental illness experienced by Australian adults)</strong>
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row"><p style="font-size:20px;text-align:center"><strong>Please click the below button for Mental Health related data insights</strong></p></div>
    <br />
    <div style="text-align:center">
        <button id="btn1" class="btn btn-info">Data Insights</button>
    </div>
    <br />
    <div id="div1" style="visibility:hidden;height:100px;overflow:hidden">
        @*Interactive diagram of trends*@
        <div id="Trends" style="font-size:20px"></div>
        <div style="width: 1000px; height:900px;">
            <p style="text-align:center;font-size:20px"><strong>Depression</strong> and <strong>Anxiety</strong> are comparatively more prevalent mental health issues in Australia and needs more attention.</p>
            <p style="text-align:center;font-size:20px">The below trend chart contains information of percentage of population dealing with different mental issues diseases in Australia varying over years in terms of world population.</p>
            <div class='tableauPlaceholder' id='viz1598760136354' style='position: relative;margin:30px 50px 30px 70px;text-align: center'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Prevalence_15987592151610&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Prevalence_15987592151610&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Prevalence_15987592151610&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1598760136354'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        </div>

        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=6>
        @*Interactive diagram of Australian map*@
        <div id="AustraliaMap" style="font-size:20px"></div>
        <div style="width: 1000px; height:650px">
            <p style="text-align:center;font-size:20px">Many Australians have realised the importance of mental health and also accessed available mental health services</p>
            <p style="text-align:center;font-size:20px">Below map shows number of people who accessed mental health services, region wise in the year 2017-2018</p>
            <div class='tableauPlaceholder' id='viz1598708365425' style='width:500px;height:500px;margin:30px 50px 30px 70px;text-align: center'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CN&#47;CNZC5NTM5&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;CNZC5NTM5' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CN&#47;CNZC5NTM5&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1598708365425'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        </div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=6>

    </div>
    <div style="text-align:center">
        <img src="~/Resources/examine.png" />
        <p style="font-size:20px" class="understand">Use our tool to examine<br />your mental health<br />today</p>
        <a id="understand_know_more" href="./KnowYouBetter">Know More &raquo;</a>
    </div>




    <script>
        start(45, "count", 1);
        window.onload = function () {


            // binding button 1
            var btn1 = document.getElementById("btn1");
            // create onlick event for button 1
            btn1.onclick = function () {
                document.getElementById('div1').style.visibility = "visible";
                document.getElementById('div1').style.height = "auto";
            }
        }

        function roll(total, idname, step) {
            let n = 0;
            return function () {
                n = (n + step) >= total ? total : (n + step);
                if (n <= total) {
                    document.getElementById(idname).innerHTML = n + "%";
                }
            }
        }

        function start(index, idname, step, runtime = 2500) {
            let rolling = roll(index, idname, step)
            runtime = (runtime >= 300) ? runtime : 1000;
            for (let i = 0; i < (index / step); i++) {
                var t = setTimeout(rolling, (runtime / index) * i * step)
            }
        }

    </script>



</body>
</html >

