
@{
    ViewBag.Title = "Suggestion2";
}

<h1 style="text-align:center;color:darkred">Suggestion</h1>
<h2 style="text-align:center">Ways to take care of your mental health</h2>

<img src="https://i.postimg.cc/CLKz7jk5/P2-1.png" />
<br />
<h3>1.Set your routine</h3>
<h4>If you set your routine and spend your everyday accordingly, you will be able to get the positive energy to boost your mental health.</h4>


<img src="https://i.postimg.cc/gJNGLTMD/P2-2.png" />
<br />
<h3>2.Exercise </h3>
<h4>Having at least 15-30 minutes activities per day is very important for the you. Try stretching, walking or add another physical activity.</h4>

<img src="https://i.postimg.cc/BbjfLQPS/P2-3.png" />
<br />
<h3>3.Eat healthy</h3>
<h4>Having a balanced diet full of nutrition can give your mental health a boost</h4>

<img src="https://i.postimg.cc/3RwPVJBX/P2-4.png" />
<br />
<h3>4.Good sleep</h3>
<h4>At least 7 hours sleep is important to stay fresh and healthy. Try improving your sleep by listening to light music</h4>

<img src="https://i.postimg.cc/MKYg6QF7/P2-5.png" />
<br />
<h3>5.Regular medication</h3>
<h4>Don’t delay any medications that you take as better physical health can encourage better mental health too.</h4>

<img src="https://i.postimg.cc/Xqk1YRQj/P2-6.png" />
<br />
<h3>6.Deep breathing</h3>
<h4>To relax your mind and body sit down and take deep breaths. This calms your nerves therefore eases your anxiety as well as keeps your brain clear of any negative thoughts.</h4>

<img src="https://i.postimg.cc/6Q4Hv2Y1/P2-7.png" />
<br />
<h3>7.Journal</h3>
<h4>Adding your thoughts in a journal is a proven positive activity for mental health. Take a few minutes out every day and add your daily reflections/thoughts.</h4>
