
@{ ViewBag.Title = "No Risk"; }

<head>
    <link href="~/Content/suggestion.css" rel="stylesheet" />
    @*<style type="text/css">
        div {
            text-align: center;
        }

        .col-md-6 {
            height: 430px;
        }

        .des {
            margin: 0 auto;
            width: 300px;
            text-align: center;
            line-height: 23px;
        }

        .img_result {
        }

        #know_more {
            color: #6495ED;
            font-weight: bold;
            font-size: 20px;
        }

        .cap {
            font-weight: bold;
        }

        .des_bottom {
            margin: 0 auto;
            width: 500px;
            text-align: center;
            line-height: 23px;
        }
    </style>*@
</head>

<body>
    <h2 style="text-align:center;color:#6495ED;font-weight:bold">Keep your Mental Health in check</h2>
    <p style="font-size:20px">
        Follow these suggestions to make sure that your mental health stays better
    </p>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/8PTytqfm/P1-1.png" />
        <br />
        <h3 class="cap">1.Stay connected</h3>
        <p class="des" style="font-size:20px">Not knowing English may make you feel disconnected with Australian society but try to stay connected with your family and friends. Spending time together and talking to them will reduce your risk of having mental health issues.</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/8z5ZVMHF/P1-2.png" />
        <br />
        <h3 class="cap">2.Volunteer </h3>
        <p class="des" style="font-size:20px">We know you might not be working here in Australia but do check out for volunteering opportunities which will not only keep you busy but will also keep you connected to the Australian society. Ask your family members today to find you some opportunities.</p>
    </div>

    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/T34C217t/P1-3.png" />
        <br />
        <h3 class="cap">3.Learn one new word everyday</h3>
        <p class="des" style="font-size:20px">To avoid any mental health issue in future too, try to connect with Australian community by learning our language. Learn one word every day and try to use it at least 5 times a day and 17 times a week to remember it for future use.</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/zBnjkjJQ/P1-4.png" />
        <br />
        <h3 class="cap">4.Gardening</h3>
        <p class="des" style="font-size:20px">Staying close to nature is very helpful for your brain and soul. Keep the positive energy close to you by indulging in activities like gardening which is scientifically proven to help with mental health issues.</p>
    </div>

    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/j2c4pSnQ/P1-5.png" />
        <br />
        <h3 class="cap">5.Find restaurants close to you</h3>
        <p class="des" style="font-size:20px">Don’t think you depend on your family only to teach you about Australia. Find your favourite Italian restaurants by clicking <a href="https://www.italianmade.com.au/search_result.php" style="font-weight:bold">here</a>. This time you take your family to one of the restaurants.</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/x8nPpz81/P1-6.png" />
        <br />
        <h3 class="cap">6.Find events around you</h3>
        <p class="des" style="font-size:20px">Impress your family by sharing details of Italian events happening nearby. Click <a href="https://www.eventbrite.com.au/d/australia--melbourne/italian/" style="font-weight:bold">here</a> to know what’s happening around in Melbourne.</p>
    </div>

    <div>
        <h2 style="text-align:center;color:#6495ED;font-weight:bold">Indulge yourself in Arts</h2>
        <p style="font-size:20px" class="des_bottom">
            Click below to access painting activity we brought to keep you engaged and to fuel those happy thoughts!
        </p>
        <img class="img_result" src="~/Resources/accomplish.png" />
        <p style="font-size:20px" class="des">
            Indulge yourself in fun activities to keep your happy thoughts alive
        </p>
        <br />
        <a id="know_more" href="./Home/Info">Know More &raquo;</a>
    </div>
</body>






