
@{
    ViewBag.Title = "Suggestion2";
}
<head>
    <link href="~/Content/suggestion.css" rel="stylesheet" />
    <style type="text/css">
        .col-md-6{
            height: 370px;
        }

        .col-md-12{
            margin-bottom: 80px;
        }
    </style>
</head>

<body>
    <h2 style="text-align:center;color:#6495ED;font-weight:bold">Take Care of Your Mental Health</h2>
    <p style="font-size:20px">
        Follow these suggestions to improve your mental health
    </p>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/CLKz7jk5/P2-1.png" />
        <br />
        <h3 class="cap">1.Set your routine</h3>
        <p style="font-size:20px" class="des">If you set your routine and spend your everyday accordingly, you will be able to get the positive energy to boost your mental health.</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/gJNGLTMD/P2-2.png" />
        <br />
        <h3 class="cap">2.Exercise </h3>
        <p style="font-size:20px" class="des">Having at least 15-30 minutes activities per day is very important for the you. Try stretching, walking or add another physical activity.</p>
    </div>

    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/BbjfLQPS/P2-3.png" />
        <br />
        <h3 class="cap">3.Eat healthy</h3>
        <p style="font-size:20px" class="des">Having a balanced diet full of nutrition can give your mental health a boost</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/3RwPVJBX/P2-4.png" />
        <br />
        <h3 class="cap">4.Good sleep</h3>
        <p style="font-size:20px" class="des">At least 7 hours sleep is important to stay fresh and healthy. Try improving your sleep by listening to light music</p>
    </div>

    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/MKYg6QF7/P2-5.png" />
        <br />
        <h3 class="cap">5.Regular medication</h3>
        <p style="font-size:20px" class="des">Don’t delay any medications that you take as better physical health can encourage better mental health too.</p>
    </div>
    <div class="col-md-6">
        <img class="img_result" src="https://i.postimg.cc/Xqk1YRQj/P2-6.png" />
        <br />
        <h3 class="cap">6.Deep breathing</h3>
        <p style="font-size:20px" class="des">To relax your mind and body sit down and take deep breaths. This calms your nerves therefore eases your anxiety as well as keeps your brain clear of any negative thoughts.</p>
    </div>

    <div class="col-md-12">
        <img class="img_result" src="https://i.postimg.cc/6Q4Hv2Y1/P2-7.png" />
        <br />
        <h3 class="cap">7.Journal</h3>
        <p style="font-size:20px" class="des">Adding your thoughts in a journal is a proven positive activity for mental health. Take a few minutes out every day and add your daily reflections/thoughts.</p>
    </div>

    <div>
        <h2 style="text-align:center;color:#6495ED;font-weight:bold">Indulge yourself in Arts</h2>
        <p style="font-size:20px" class="des_bottom">
            Click below to access painting activity we brought to keep you engaged and to fuel those happy thoughts!
        </p>
        <img class="img_result" src="~/Resources/accomplish.png" />
        <p style="font-size:20px" class="des">
            Indulge yourself in fun activities to keep your happy thoughts alive
        </p>
        <br />
        <a id="know_more" href="./Accomplish">Know More &raquo;</a>
    </div>
</body>